.centered-container{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

main section:nth-child(2),
main section:nth-child(4){
    background-color: rgb(246, 246, 246);
}

header{

    height: 450px;
    background-color: rgba(0, 98, 255, 0.3);
}

#nav-inner{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /* test */
    background-color: rgba(0, 151, 0, 0.5);
    height: 100px;
    margin-bottom: 80px;
}

.logo{

    height: 60px;
    width: 100px;
    background-color: rgba(0, 105, 0, 0.5);
    /* test */
}

.links{
    display: flex;
  
    height: 60px;
      /* test */
    
}

.links ul{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    gap: 25px;
    list-style-type: none;
}

.links li{
   
    background-color: rgba(0, 105, 0, 0.5);
    width: 60px;
    height: 30px;
     /* test */
}

.login{

    background-color: rgba(0, 105, 0, 0.5);
    height: 60px;
    width: 100px;
    /* test */
}

#introduction{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.introduction-title{

    background-color: rgba(0, 0, 0, 0.6);
    width: 300px;
    height: 20px;
    /* test */
}

.introduction-paragraph{

    background-color: rgba(255, 0, 0, 0.2);
    width: 400px;
    height: 80px;
    /* test */
}

.introduction-btn{

    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.btn{

    border: none;
    border-radius: 15px;

    width: 120px;
    height: 30px;
    /* test */

}

.introduction-btn .download-btn{   
    background-color: white;

}

.introduction-btn .browser-link{
    background-color: rgb(0, 0, 0, 0.8);
}

main section{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 400px; 
    gap: 40px;
}


.image-standards{

    background-color: rgba(199, 199, 199, 0.4);
    height: 250px;
    width: 300px;
    border-radius: 10px;
}

.content-standards{
    display: flex;
    flex-direction: column;

    height: 250px;
    width: 200px;   
}

.title-standards{

    background-color:rgba(0, 0, 0, 0.6);
    height: 180px;
    width: 100%;
}

.paragraph-standards{

    background-color: rgba(255, 0, 0, 0.2);
    height: 100%;
}

#fourth-section{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 800px;
    gap: 30px;
}

.fourth-section-title{

    background-color: rgba(0, 0, 0, 0.6);
    width: 500px;
    height: 30px;
}

.fourth-section-paragraph{
    background-color: rgba(255, 0, 0, 0.2);
    width: 550px;
    height: 60px;
}

.fourth-section-image{

    background-color: rgba(199, 199, 199, 0.4);
    width: 600px;
    height: 250px;
    border-radius: 10px;
}

.fourth-section-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
   
}

.fourth-section-btn button{
    background-color: rgb(113, 137, 216);
}

.fourth-section-description-link{

    background-color: rgba(0, 0, 0, 0.6);
    height: 30px;
    width: 300px;
}

footer{
    background-color: rgb(35, 39, 42);
}

footer ul{
    list-style-type: none;
}

#footer-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
 
    height: 400px;
    gap: 30px;
}

.row{
    display: flex;
    justify-content: space-between;

    width: 100%;
    gap: 30px;
}

.col-1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.col-1-description{
    
    background-color: rgb(113, 137, 216);
    height: 20px;
    width: 120px;
}

.col-1-language{
    background-color: white;
    height: 20px;
    width: 80px;
}

.col-1-social-icon{
    background-color: wheat;
    height: 20px;
    width: 100px;
}

.col-2 ul,
.col-3 ul,
.col-4 ul,
.col-5 ul{
    
    display: flex;
    flex-direction: column;
    gap: 10px;

    list-style-type: none;
    
}

.col-2 li,
.col-2 li,
.col-3 li,
.col-4 li,
.col-5 li{

    background-color: white;
    height: 10px;
    width: 80px;
    
}

.col-2 li:first-child,
.col-2 li:first-child,
.col-3 li:first-child,
.col-4 li:first-child,
.col-5 li:first-child{
    background-color: rgb(113, 137, 216);

}

hr{

    width: 100%;
    border: 1px solid rgb(113, 137, 216);
}

.row-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
}

.footer-logo{
    background-color: white;
    height: 30px;
    width: 100px;
}

.sign-in button{
    background-color: rgb(113, 137, 216);
}